<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Procesar Documentos Electronicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p-panel header="Filtro" [toggleable]="true">
    <ion-item class="ion-no-padding">
      <ion-label>Empresa</ion-label>
      <ion-select placeholder="Seleccione la Empresa" interface="action-sheet">
        <ion-select-option value="008">Globaltex S.A.</ion-select-option>
        <ion-select-option value="009">Texfashion S.A.</ion-select-option>
        <ion-select-option value="012">Pasarella S.A.</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label>Tipo</ion-label>
      <ion-select placeholder="Seleccione el tipo de documento" interface="action-sheet">
        <ion-select-option value="FAC">FACTURA</ion-select-option>
        <ion-select-option value="NC">NOTA DE CREDITO</ion-select-option>
        <ion-select-option value="RET">RETENCION</ion-select-option>
        <ion-select-option value="GUI">GUIA DE REMISION</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label>Estado</ion-label>
      <ion-select placeholder="Estado del documento" interface="action-sheet">
        <ion-select-option value="P">PENDIENTE</ion-select-option>
        <ion-select-option value="G">GENERADO</ion-select-option>
        <ion-select-option value="F">FIRMADO</ion-select-option>
        <ion-select-option value="E">ENVIADO</ion-select-option>
        <ion-select-option value="A">AUTORIZADO</ion-select-option>
        <ion-select-option value="E">RECHAZADO</ion-select-option>
      </ion-select>
    </ion-item>
  </p-panel>



  <!--
  <ion-item>
    <ion-label>Cliente</ion-label>
    <ion-select placeholder="Seleccione el Cliente" interface="action-sheet">
      <ion-select-option value="100001">PEÑA SOCRATES</ion-select-option>
      <ion-select-option value="100002">FERNANDEZ DELGADO PLACIDO</ion-select-option>
      <ion-select-option value="100004">ARTETA RIVAS MIREYA MARGARITA</ion-select-option>
    </ion-select>
  </ion-item>
 -->


  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-list-header>
      Listado de Documentos
    </ion-list-header>

    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              Cliente:
            </ion-col>
            <ion-col>
              ARTETA RIVAS MIREYA MARGARITA
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Tipo:
            </ion-col>
            <ion-col>
              FACTURA
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Numero:
            </ion-col>
            <ion-col>
              001001-000011112
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Estado:
            </ion-col>
            <ion-col>
              PENDIENTE
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="onClickBtnProcesar()">
          <ion-icon slot="top" name="cog"></ion-icon>
          Procesar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="onClickBtnPdf()">
          <ion-icon slot="top" name="print"></ion-icon>
          P D F
        </ion-item-option>
        <ion-item-option color="success" (click)="onClickBtnMail()">
          <ion-icon slot="top" name="mail"></ion-icon>
          Mail
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              Cliente:
            </ion-col>
            <ion-col>
              JUAN PEREZ
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Tipo:
            </ion-col>
            <ion-col>
              FACTURA
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Numero:
            </ion-col>
            <ion-col>
              001001-000011114
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              Estado:
            </ion-col>
            <ion-col>
              PENDIENTE
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="onClickBtnProcesar()">
          <ion-icon slot="top" name="cog"></ion-icon>
          Procesar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="onClickBtnPdf()">
          <ion-icon slot="top" name="clipboard"></ion-icon>
          P D F
        </ion-item-option>
        <ion-item-option color="success" (click)="onClickBtnMail()">
          <ion-icon slot="top" name="mail"></ion-icon>
          Mail
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>