<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/procesar-documentos-electronicos"></ion-back-button>
    </ion-buttons>
    <ion-title>enviar-mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Juan Sanchez</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>udg2001@hotmail.com</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-checkbox slot="end" checkded></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Perla Reyes</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>pereyes@gmail.com</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-checkbox slot="end" checkded></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Patricia Diaz</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>patty1990@yahoo.com</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-checkbox slot="end" checkded></ion-checkbox>
  </ion-item>

  <section>
    <ion-button color="primary" expand="block" (click)="onClickBtnAgregarMail()">Agregar Mail</ion-button>
  </section>

  <section>
    <ion-button color="success" expand="block" (click)="onClickBtnEnviarMail()">Enviar Mail</ion-button>
  </section>
</ion-content>