<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cambio de clave
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-item>
      <ion-label position="floating">Password </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </section>

  <section>
    <ion-button color="primary" expand="block">Primary</ion-button>
  </section>
</ion-content>