section {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

ion-select{
    max-width: 100% !important;
}

//.ui-tree{width:90%}
/*
ui-tree {
    margin-top: 15px;
   margin-bottom: 15px;

   max-width: 100% !important;
   margin-left: auto;
   margin-right: auto;
}*/

.my-ui-tree {
    margin-top: 15px;
    margin-bottom: 15px;
 
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    }
    

/*
ui-tree {
    width: 300px;
    position: relative;
    }
    ui-tree .ui-tree-container {
    margin: 0;
    padding: 3px;
    white-space: nowrap;
    overflow: auto;
    }
 */ 
 /*   ui-tree ui-widget ui-widget-content ui-corner-all ui-tree-selectable {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}*/